@model EcormmerceWeb.Models.ViewModels.Product.IndexViewModel

<div class="card">

    <div class="card-header d-flex justify-content-between align-items-middle">

        <h4 class="text-primary">@ViewData["Title"]</h4>

        <div class="btn-group">
            <a href="/Product/Detail" class="btn btn-sm btn-primary">추가</a>
        </div>
        
    </div>

    <div class="card-body">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>Id</th>
                </thead>
                <tbody>
                    <td>123</td>
                </tbody>
            </table>
        </div>


    </div>

</div>